<html>

<head>
    <title>Project</title>
</head>

<body>
    <header>
        <h3>Nodejs Application</h3>
        <%if(user){%>
        <h3>Welcome, <%= user.email%> </h3>
        <%}else{%>
        <h3>Welcom, annoymous</h3>
        <%}%>
    </header>


    <nav>
        <a href="/">Home</a>
        <%if(!user){%>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/login">Login</a>
        <%}%>

        <%if(user){%>
        <a href="/user/logout">Logout</a>
        <%}%>


    </nav>
    <main>

        <div id="errorboard">
        </div>
        <script>

            function showErrorMsg(msg) {
                let errorBoard = document.querySelector("#errorboard")
                if (msg == null) {
                    errorBoard.innerHTML = ""
                } else {
                    errorBoard.innerHTML = `<span>${msg}</span>`
                }
            }
        </script>