<html>

<head>
    <title>Project</title>
</head>

<body>
    <header>
        <h1>Nodejs Application</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/user/signup">Sign Up</a>
        <a href="/user/login">Login</a>
        <a href="/user/logout">Logout</a>
    </nav>
    <main>