<html>

<head>
    <title>Project</title>
</head>

<body>
    <header>
        <h1>The main heading</h1>
    </header>
    <nav>
        <a href="">Home</a>
        <a href="">Menu</a>
        <a href="">Items</a>
        <ul>
            <li><a href="">link1</a></li>
            <li><a href="">link1</a></li>
        </ul>
    </nav>
    <main>